.username {
  font-size: $s-size;
}

.company {
  font-size: $s-size;
}

.country {
  font-size: $s-size;
}

.button.btn.btn-primary.btn-lg.btn-block {
	background-color: $off-black;
  border-color: $light-grey;
}

label {
  margin-top: 1rem;
}
