.userInfo {
  padding-top: 2rem;
  font-size: $s-size;
  text-align: left;
}

h4 {
  font-weight: bold;
}

.a.btn-btn-default {
  color: $off-white;
}

.userNotFound {
  padding-top: 2rem;
  font-size: $s-size;
  text-align: center;
}

div.row {
  padding-top: 0.8rem;
}
